<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"></link>
    <title>pagina deletar</title>
</head>
<body>
  <form class="formulario-cadastro" method="post" action="/usuarios/delete/{{u.id}}">
    <h2 class="titulo">Voce tem certeza que deseja excluir?</h2>
    <input type="submit" value="Sim">
    <a class="botao-cancelar" href="/usuarios/recovery">Cancelar</a>
  </form>
</body>
</html>
