<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"></link>
    <title>Cadastro de Usuario</title>
</head>
<body>
  <header></header>
  <main class="conteudo">
     <form class="formulario-cadastro"  method="post">
        <h2 class="titulo" >Cadastro de Usuario</h2>
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
        <br>
        <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
        <br>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
        <br>
        <input type="password" id="csenha" name="csenha" placeholder="Confirme sua senha" required>
        <br>
        <input class="botao-cadastrar" type="submit" value="Cadastrar">
    </form>
    <div class="container-imagem">
      <img src="/static/imagem/Login.jpeg">
    </div>
  </main>
</body>
</html>
