<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"></link>
    <title>Cadastro de Usuario</title>
</head>
   <main class="conteudo">
     <form class="formulario-cadastro" method="post" action="/>
        <input type="text" id="nome" name="nome" value="{{u.nome}}>
        <br>
        <input type="email" id="email" name="email" value="{{u.email}}>
        <br>
        <input type="password" id="senha" name="senha" placeholder="crie sua senha">
        <br>
        <input type="password" id="csenha" name="csenha" placeholder="confirme sua senha">
        <br>
        <input type="submit" value="Cadastrar">
    </form>
   </main>
</body>
</html>
